{% extends 'defaults/base.htm'%}
{% block content %}
<br>
<br>
<br>
<br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img alt="Cover image of {{ book.book_name }}" height="450" src="{{ book.cover.url }}" width="300" />
                    <button class="btn btn-bookmark mt-2">
                        <i class="fas fa-bookmark"></i>
                        Bookmark
                    </button>
                    <p class="text-center mt-2">
                        Followed by 120 people
                    </p>
                    <div class="text-center rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>{{ book.rating }}</span>
                    </div>
                    <div class="mt-2">
                        <p>
                            <strong>Status:</strong>
                            Ongoing
                        </p>
                        <p>
                            <strong>Type:</strong>
                            Fiction
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 ">
                <h1>{{ book.book_name }}</h1>
               
                <p>{{ book.description }}</p>
                
                <button class="btn-lg ml-4">
                    <a href="{{ book.book_file.url }}" class="btn chapter-btn" target="_blank">
                    Read 
                    <br />
                   
                </a>

                </button>

               
            </div>
        </div>
    </div>

{% endblock content %}
